.quadrado{
    border: 2px solid black;
    display: inline-block;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    background-color: lightgray;
}
body{
    background-image: url(imagens/wallpaper001.jpg);
}
#q1{
    background-color: skyblue;
}
#q2{
    background-image: linear-gradient(to bottom, yellow, red);
}
#q3{
    background-image: url(imagens/wallpaper002.jpg);
}